<!DOCTYPE html>
<style>
    form {
        margin: 50px auto;
        width: 35%;
    }
    form legend {
        margin: 20px auto;
    }
    .result {
        margin: 50px auto;
        width: 35%;
        border: 1px solid #ccc;
    }
</style>

<head>
    <title>Прогноз параметров сварного шва</title>
</head>

<form action="{{url_for('main')}}" method="POST">
    <fieldset>
        <p>
            <legend>Технические параметры сварки</legend>
            IW:
            <input type="text" name="IW" id="IW" required>
        </p>
        <p>
            IF:
            <input type="text" name="IF" id="IF" required>
        </p>
        <p>
            VW:
            <input type="text" name="VW" id="VW" required>
        </p>
        <p>
            FP:
            <input type="text" name="FP" id="FP" required>
        </p>

        <input type="submit">
    </fieldset>
</form>

{% if result %}
<div class="result">
    <p>Прогнозируемые размеры шва:</p>
    <p>{{result}}</p>
</div>
{% endif %}
